body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: black;
	font-family: sans-serif;
	line-height: 1.7em;
	max-width: 100%;
}

header {
	
}

.container img {
	max-width: 100%;
}
.razz{ display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	margin-top: -50px;
	margin-bottom: 20px;
}

.uab{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}


.titulo{
	text-align: center;
	font-size: 2em;
}
h1, h2, h3 {
	margin-top: 30px;
	margin-bottom: 0px;
	line-height: 1.5em;
	color:black;
}
h3{color: #515151}

.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 75%;
}

h1 {
	
	padding-top: 50px;

}
h2::after {
	content: 
}

p {
	
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 1em;
	padding-bottom: 1em;
	
}

.container {
	max-width: 1000px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}
.index {
	padding-top: 25px;
	padding-bottom: 25px;

}

a:link { 
	text-decoration: none; 
	color: #EE9A00 ; }
a:hover { 
	color: #00FF00; 
	text-decoration: underline;
}
a:visited { 
	color: #EE9A00;

}
.assig{
	text-align: center;
}
ol {
	counter-reset: item
}
li {
	display: block
}
li:before {
	content: counters(item, ".") ". ";
	counter-increment: item
}

#sol_ex_1, .solution {
	display: none;
}


pre {

	display: block;
	text-align: left;
	margin: 0px;
	padding: 10px;
	background-color: #515151;
	color: #FFFFFF;
	border-radius: 5px;
	max-width: 100%;
}

@media (max-width: 1200px) {
	.container {
		max-width: 100%;
		margin: 15px;

		}
	}

@media (max-width: 900px) {
	.container {
		max-width: 100%;
		margin: 10px;

	}
}


footer {
	margin-top: 150px;
    
}

footer>p{
    text-align: center;
}
